<div id="create-new-comparison-container">
  <div id="create-comparison-container">
    <section class="step clearfix">
      <h2>Create your view</h2>
      
      <form>
        <div class="step-container">
          <ul>
            <li class="pull-right">
              <ul class="mini-selector">
                <li class="title">select</li>
                <li>2010</li>
                <li class="selected">2011</li>
                <li class="selected">2012</li>
                <li>2013</li>
              </ul>
            </li>
            <li><label class="radio">
                  <input type="radio" name="comparison-new" value="" checked> Time
                </label></li>
            <li>
              <ul class="indent">
                <li><label class="radio">
                    <input type="radio" name="comparison-new-time-year"value="year"> Year
                  </label></li>
                <li><label class="radio">
                    <input type="radio" name="comparison-new-time-year"value="year"> Quater
                  </label></li>
                <li><label class="radio">
                    <input type="radio" name="comparison-new-time-year"value="year"> Month
                  </label></li>
              </ul>
            </li>
            <li><label class="radio">
                  <input type="radio" name="comparison-new" value=""> Attribute
                </label></li>
            <li>
              <ul class="indent clearfix">
                <li class="pull-left">
                  <ul class="clearfix">
                    <li><label class="radio">
                        <input type="radio" name="comparison-new-attribute"value="gender"> Gender
                      </label></li>
                    <li><label class="radio">
                        <input type="radio" name="comparison-new-attribute"value="age"> Age
                      </label></li>
                    <li><label class="radio">
                        <input type="radio" name="comparison-new-attribute"value="income"> Income
                      </label></li>
                    <li><label class="radio">
                        <input type="radio" name="comparison-new-attribute"value="material"> Material
                      </label></li>
                  </ul>
                </li>
                <li class="pull-left">
                  <ul class="clearfix">
                    <li><label class="radio">
                        <input type="radio" name="comparison-new-attribute"value="gender"> Category
                      </label></li>
                    <li><label class="radio">
                        <input type="radio" name="comparison-new-attribute"value="age"> Sub-Category
                      </label></li>
                    <li><label class="radio">
                        <input type="radio" name="comparison-new-attribute"value="income"> Color
                      </label></li>
                  </ul>
                </li>
              </ul>
            </li>
            
            <li><label class="radio">
                  <input type="radio" name="comparison-new" value=""> Measure
                </label>
            </li>
            <li>
              <ul class="indent clearfix">
                <li class="pull-left">
                  <ul class="clearfix">
                    <li><label class="radio">
                        <input type="radio" name="comparison-new-measure"value="count"> Count
                      </label></li>
                    <li><label class="radio">
                        <input type="radio" name="comparison-new-measure"value="revenue"> Revenue
                      </label></li>
                  </ul>
                </li>
                <li class="pull-left">
                  <ul class="clearfix">
                    <li><label class="radio">
                        <input type="radio" name="comparison-new-measure"value="margin"> Margin
                      </label></li>
                    <li><label class="radio">
                        <input type="radio" name="comparison-new-measure"value="forecast"> Forecast
                      </label></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><label class="radio">
              <input type="radio" name="comparison-new" value=""> Specific Item
              </label>
            </li>
            <li>
              <ul class="indent clearfix">
                <li>
                  <input type="text" class="pull-left" name="comparison-new-specific-item-input">
                  <div id="comparison-new-specific-item-button" class="pull-left i-plus clickable"></div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </form>
      
      <div class="clearfix">
        <div class="filters-container">
          <div class="filters clearfix">
            <div class="filter"><a {{ action "showTimescopeModal" this }}>Set Time Scope</a></div>
            <div class="filter"><a {{ action "showFilterModal" this }}>Set Filter</a></div>
          </div>
        </div>
        
        <div class="actions-container">
          <div class="clearfix">
            <div class="error-message"></div>
          
            <div class="action">
              <button id="create-new-comparison-reset" type="reset" class="" {{ action "resetForm" this }}>Reset</button>
              <div class="pull-right">
                <button class="">{{#linkTo 'comparison_views'}}Cancel{{/linkTo}}</button>
                <button id="create-new-conparison-confirm" type="" class="" {{ action "createNewView" this }}>{{#linkTo 'comparison_views'}}Confirm{{/linkTo}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <div id="create-view-filter-container">
    <section class="step clearfix">
      <h2>
        <div id="create-view-filter-toggler" class="pull-left i-plus-white clickable toggler"></div> 
        Filter
      </h2>
      <div id="create-view-filter-panel" style="display: none;">
        awesome
      </div>
    </section>
  </div>
  
  <div id="create-view-timescope-container">
    <section class="step clearfix">
      <h2>
        <div id="create-view-timescope-toggler" class="pull-left i-plus-white clickable"></div> 
        Time Scope
      </h2>
      <div id="create-view-timescope-panel" style="display: none;">
        awesome
      </div>
    </section>
  </div>
</div>