/* line 1, ../../app/assets/stylesheets/timeframe.scss */
#timeframe-container {
  border: 1px solid #000;
  border-radius: 6px;
  padding: 4px 6px 6px 6px;
}

/* line 7, ../../app/assets/stylesheets/timeframe.scss */
ul.none-style {
  list-style: none;
}

/* line 11, ../../app/assets/stylesheets/timeframe.scss */
ul.content-indent li {
  margin-left: 20px;
}
/* line 13, ../../app/assets/stylesheets/timeframe.scss */
ul.content-indent li:first-child {
  margin-left: 0px;
  font-weight: bold;
}

/* line 20, ../../app/assets/stylesheets/timeframe.scss */
.li-datepicker {
  width: 100px;
  float: left;
}
/* line 23, ../../app/assets/stylesheets/timeframe.scss */
.li-datepicker input[type=text] {
  background-color: #9da2a4;
  height: 10px;
}
