<div class="chart-container">
  <div class="chart">
    {{ drawChart id }}
    <div id="highchart"></div>
  </div>
  
  <div class="filters clearfix">
    <div class="timeframe">{{#linkTo "timeframe"}}Set Timeframe{{/linkTo}}</div>
    <div class="filter">{{#linkTo "filter"}}Set Filter{{/linkTo}}</div>
  </div>
</div>