<div class="chart-container">
  <div class="chart">
    {{ drawChart id }}
    <div id="highchart"></div>
  </div>
  
  <div class="filters clearfix">
    <div class="filter"><a {{ action "showTimescopeModal" this }}>Set Time Scope</a></div>
    <div class="filter"><a {{ action "showFilterModal" this }}>Set Filter</a></div>
  </div>
</div>