<div class="chart-container">
  <div class="chart">
    {{ drawChart id }}
    <div id="highchart"></div>
  </div>
  
  <div class="filters clearfix">
    <div class="filter"><button {{ action "showTimeframeModal" this }}>Set Timeframe</button></div>
    <div class="filter">{{#linkTo "filter"}}Set Filter{{/linkTo}}</div>
  </div>
</div>