<div class="chart-container">
  <div class="chart">
    {{ view App.ColumnChartView id=chart-multiview contentBinding=content categoriesBinding=categories titleBiding="This is a Column Graph" }}
  </div>
  
  <div class="filters clearfix">
    <div class="filter">{{#linkTo "timeframe"}}Set Timeframe{{/linkTo}}</div>
    <div class="filter">{{#linkTo "filter"}}Set Filter{{/linkTo}}</div>
  </div>
</div>