<div class="popup-window-bg">
  <div id="filter-window" class="popup-window">
    
    <div class="popup-window-header">Set Filters</div>
    <div class="popup-window-body">
      <form>
        <section>
          <div class="clearfix">
            <div class="radio-input clearfix">
              <label class="radio"><input type="radio" name="filter-method"  value="view">View</label>
            </div>
            <div class="radio-input clearfix">
              <label class="radio"><input type="radio" name="filter-method"  value="exclude">Exclude</label>
            </div>
          </div>
        </section>
        <section>
          <!-- Add class="toggler" for the trigger, and add class="toggleable-panel" and corresponding data-panel to the panel div -->
          {{#each filter in modalView.filterList}}
          {{ renderFilterGroups filter modalView.filterValues }}
          {{/each}}
        </section>

      </form>
    </div>

    <div class="popup-window-footer actions-container clearfix">
      <div class="error-message"></div>
      <div class="actions" style="margin-right: 20px;">
        <div class="action">
          <a id="create-new-view-reset" type="reset" class="reset" {{ action "resetFilter" this }}>Reset</a>
          <a class="" {{ action "closeModalView" this }}>Cancel</a>
          <a id="create-new-view-confirm" type="" class="" {{ action "confirmFilter" this }}>Confirm</a>
        </div>
      </div>
    </div>

  </div>
</div>