<div class="popup-window-bg">
  <div id="filter-window" class="popup-window">
    
    <div class="popup-window-header">Set Filters</div>
    <div class="popup-window-body">
      <form>
        <section>
          <div class="clearfix">
            <div class="radio-input clearfix">
              <label class="radio"><input type="radio" name="filter-method"  value="include" checked>View</label>
            </div>
            <div class="radio-input clearfix">
              <label class="radio"><input type="radio" name="filter-method"  value="exclude">Exclude</label>
            </div>
          </div>
        </section>
        <section>
          <!-- Add class="toggler" for the trigger, and add class="toggleable-panel" and corresponding data-panel to the panel div -->
          {{#each filter in modalView.filterList}}
          {{ renderFilterGroups filter modalView.filterValues }}
          {{/each}}
        </section>

      </form>
    </div>
    <div class="popup-window-footer">
      <button class="btn-popup" {{ action "resetFilter" this }}>Reset</button>
      <button type="submit" class="btn-popup pull-right" {{ action "confirmFilter" this }}>Confirm</button>
      <button class="btn-popup pull-right" {{ action "closeModalView" this }}>Cancel</button>
    </div>
  </div>
</div>