#create-comparison-container, #create-comparison-filter-container, #create-comparison-timescope-container {
  .step-container {
    margin: 25px;
    border: 1px solid #7792a2;
  }

  ul {
    margin: 10px 20px;
    list-style: none;

    &.indent {
      margin-left: 120px;
    }

    li > ul {
      margin: 0;

      li {
        margin-right: 20px;
      }
    }
  }

  .mini-selector {
    float: right;
    border: 1px solid #7792a2;
    margin: 2%;
    width: 120px;

    li {
      margin: 0 0 1px 0;
      text-align: center;

      &.selected {
        background-color: #169ca1;
      }

    }
    
    .title {
      background-color: #7792a2;
    }

    .half-inner {
      margin: 20px 30px;
      height: 85px;
    }
  }

  h2 {
    color: #fff;
    background-color: #4f6b7d;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    padding: 0 10px 2px;
  }
  
  .step {
    border: 1px solid #4f6b7d;
  }
  
  h3 {
    color: #000;
    background-color: #7792a2;
    font-size: 14px;
    font-weight: normal;
    line-height: 23px;
    padding: 0 10px 2px;
  }
  
  .options {
    float: left;
    background-color: #9da2a4;
    width: 39%;
    height: 200px;
    padding: 10px 0;
    list-style-type: none;
    overflow: auto;
    
    .option {
      color: #fff;
      padding: 0 0 0 10px;
      
      &:hover {
        background-color: #169ca1;
      }
      
      .cat-name {
        color: #ddd;
        margin: 0 5px 0 0;
      }
      
      .sub-name {
      }
    }
  }

  .action {
    margin: 0 22px 10px 21px;
    width: 200px;

    button {
      padding: 2px 6px;
      color: #fff;
      background-color: #0f6b93;
      border: 2px solid #04344b;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .radio-input {
    float: left;
    margin: 0 20px 0 0;
    
    input {
      float: left;
    }
    
    span {
      float: left;
      margin: 0 0 0 5px;
    }
  }
}

#create-new-comparison-container {
  position: absolute;
  background: #fff;
  width: 96%;
  
  .filters-container {
    margin: 0 0 0 20px;
  }
  
  .actions-container {
    float: right;
    margin: 0 13px 0 0;
    
    .error-message {
      float: left;
      line-height: 28px;
      color: #f55;
    }
    
    .action {
      float: right;
    }
  }
}

.i-plus {
  background: url(/assets/glyphicons-halflings.png);
  background-position: 0 -96px;
  width: 14px;
  height: 14px;
  margin: 8px 4px 8px 0;
}