.popup-window-bg {
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: corbel;
  
  .popup-window {
    position: absolute;
    top: 10%;
    left: -webkit-calc(50% - 330px);
    left: -o-calc(50% - 330px);
    left: -moz-calc(50% - 330px);
    left: -ms-calc(50% - 330px);
    left: calc(50% - 330px);
    max-height: 80%;
    overflow: auto;
    //margin: 0 0 0 -20%;
    background-color: #fff;
    -moz-box-shadow:1px 1px 6px 4px #141414;
    -webkit-box-shadow:1px 1px 6px 4px #141414;
    -o-box-shadow:1px 1px 6px 4px #141414;
    -ms-box-shadow:1px 1px 6px 4px #141414;
    box-shadow:1px 1px 6px 4px #141414;
  }
}

#filter-window {
  width: 720px;
  //height: 80%;

  ul.inline-block {
    li {
      display: block;
      float: left;
      width: 150px;
      margin: 0 15px 0 0;
      padding-left: 1px;
      &:last-child {
        margin: 0;
      }
      overflow-x: hidden;
    }
  }
}

.popup-window-header {
  background-color: #6c6c6c;
  color: #fff;
  font-size: 18px;
  padding-left: 14px;
  padding-top: 4px;
  height: 26px;
  line-height: 26px;
}

.popup-window-body {
  margin: 14px 14px 6px 14px;
  font-size: 13px;

  .popup-window-nav {
    margin-bottom: 0px;
    border-bottom: 1px solid #6c6c6c;
  }

  .tab-content-padding {
    padding: 14px 20px 20px 20px;
  }

  .tab-content-border {
    border: 1px solid #6c6c6c;
    border-top-color: transparent;
    border-radius: 0 0 4px 4px;
  }

  li>a {
    padding: 2px 4px 2px 4px;
    background-color: #6c6c6c;
    color: #fff;
    &:hover {
      background-color: #fff;
      border-color: #000;
      color: #000;
    }
  }

  li.active>a, li.active>a:hover {
    border-color: #6c6c6c;
    border-bottom-color: transparent;
    background-color: #fff;
    color: #000;
  }

  .btn-popup {
    background-color: #6c6c6c;
    border: 1px solid #000;
    font-size: 12px;
    color: #fff;
    width: 50px;
    margin-right: 10px;
  }

  .field-block {
    margin-bottom: 20px;
  }

  label, input, button, select, textarea {
    
  }

  .input-filter {
    width: 100px;
    padding: 0 0;
    background-color: #9c9c9c;
    border-radius: 0;
    &:-moz-placeholder{color:#3c3c3c;}
    &:-ms-input-placeholder{color:#3c3c3c;}
    &:-webkit-input-placeholder{color:#3c3c3c;}
  }

  .select {
    margin-bottom: 4px;
    width: 90px;
    height: 24px;
    // background-color: #9da2a4;
  }

  .border-box {
    border: 1px solid #9c9c9c;
    padding: 10px 5px 10px 5px;
  }

  .radio-input {
    margin: 0 10px 8px 0;
    display: inline-block;
  }
}

.popup-window-footer {
  margin: 6px 14px 14px 6px;

  .btn-popup {
      background-color: #4a4a4a;
      border: 2px solid #7f7f7f;
      font-size: 14px;
      color: #fff;
      width: 60px;
      display: inline-block;

      a {
        text-decoration: none;
        color: #fff;
      }
  }

  .pull-right {
    margin-left: 10px;
  }
}

.float-right {
  float:right;
}
.float-left {
  float:left;
}
.clear {
  clear:both;
}

label.inline {
  display: inline;
  margin-right: 8px;
  input {
    margin-right: 2px;
  }
}

.toggleable-panel {
  padding: 10px 5px 10px 20px;
  background-color: #f6f6f6;
}

.inline-display {
  display: inline-block;
}

.expandable-list-header {
  background-color: #e6e6e6;
  border-bottom: 1px solid #fff;

  .list-title {
    padding: 0 0 0 5px;
    border-bottom: 1px solid #ddd;
  }
}