@import 'bootstrap';

html, body {
  margin: 0;
  padding: 0;
  
}

html, body * {
  margin: 0;
  padding: 0;
  font:12px/20px Helvetica,Arial,sans-serif;
}

#nav {
  background-color: #e7e7e7;
}

#top-nav {
  padding: 10px 20px 10px 20px;
}

#logo {
  float: left;
  a {
    text-decoration: none;
    img {
      width: 250px;
    }
  }
}

#top-links {
  float: right;
  a {
    margin: 0 0 0 10px;
    padding-left: 15px;
    color: #323232;
    border-left: 1px solid #323232;
    
    &.first {
      border: none;
    }
  }
}

#menu-nav {
  margin: 10px 0 0px 0;
  border-bottom: 20px solid #94b3c6;
  position: relative;
}

#menu-tabs {
  list-style: none;
  float: left;
  padding: 0 20px;
  
  li {
    list-style: none;
    float: left;
    margin: 0 -18px 0 0;
    height: 30px;
    
    a {
      .title {
        float: left;
        z-index: 1;
        position: relative;
        text-decoration: none;
        font-size: 16px;
        color: #646464;
        background-color: #ecf8ff;
        padding: 5px 15px;
      }
      
      .corner {
        background: url(/assets/sprite.png) no-repeat;
        background-position: -223px -4px;
        width: 35px;
        height: 30px;
        display: inline-block;
        z-index: 10;
        position: relative;
      }
      
      &.active {
        .title {
          background-color: #94b3c6;
        }
        
        .corner {
          background-position: -169px -4px;
        }
      }
    }
  }
}

#upload-btn {
  position: absolute;
  right: 20px;
  top: -5px;
  cursor: pointer;
  
  padding: 2px 6px;
  color: #fff;
  background-color: #0f6b93;
  border: 2px solid #04344b;
}

#main-container {
  position: relative;
  background-color: #fff;
  padding: 10px;
  width: auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.radio input[type="radio"], .checkbox input[type="checkbox"] {
  float: left;
  margin-left: -19px;
}

.ajax-loader {
  position: fixed;
  background: url(/assets/ajax-loader.gif) no-repeat;
  top: 48%;
  left: 48%;
  width: 64px;
  height: 64px;
}