#view-detail-container {
  float: left;
  width: 160px;
  
  .detail-block {
    border: 1px solid #7792a2;
    margin: 2px 0 10px 0;
    padding: 0;
    //height: 50%;
    
    .block {
      height: 80%;
    }
    
    .inner {
      padding: 0 0 0 14px;
    }
  }
  
  h3 {
    line-height: 16px;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    background-color: #7792a2;
    padding: 3px 14px 5px;
    margin: 0 0 10px 0;
  }
  
  h4 {
    font-size: 14px;
    font-weight: bold;
    color: #777;
    padding: 0 0 1px 14px;
    border-bottom: 1px solid #777;
    display: inline-block;
    margin: 0px 0 10px 0px;
  }
  
  .attributes {
    margin: 0 0 10px 0;
    font-size: 12px;
    
    .attribute {
      padding: 0 0 0 25px;
      
      &.selected {
        background-color: #e7e7e7;
        border-left: 3px solid #069DB9;
        padding-left: 22px;
      }
    }
    li.attribute {
      padding: 0 0 0 14px;
    }
  }
  
  .measures {
    .inner {
      padding: 0;
    }
    .attributes {
      margin: 0 0 10px 0;
      .attribute {
        padding: 0 0 0 14px;
      }
    }
  }
}

#view-container {
  float: right;
  width: -webkit-calc(100% - 170px);
  width: -o-calc(100% - 170px);
  width: -moz-calc(100% - 170px);
  width: -ms-calc(100% - 170px);
  width: calc(100% - 170px);
  
  .tab {
    background-color: #a4b0b4;
    width: -webkit-calc(20% - 8px);
    width: -o-calc(20% - 8px);
    width: -moz-calc(20% - 8px);
    width: -ms-calc(20% - 8px);
    width: calc(20% - 8px);
    display: block;
    height: 25px;
    float: left;
    margin: 2px 2px 0 0;

    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0px;
    -o-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;

    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;


    &:hover {
      margin-top: -2px;
      border-top: 4px solid #597179;
      background-color: #7792a2;
    }

    a {
      float:left;      
      height: 25px;
      width: -webkit-calc(100% - 9px);
      width: -o-calc(100% - 9px);
      width: -moz-calc(100% - 9px);
      width: -ms-calc(100% - 9px);
      width: calc(100% - 9px);
      line-height: 25px;
      text-align: left;
      text-decoration: none;
      padding: 0 0 0 10px;
      color: #FFF;
      
      .state {
        margin: 0 15px 0 0;
        float: right;
        color: #eee;
        font-size: 12px;
        line-height: 27px;
      }
      
      &.active {
        background-color: #e0e4e6;
        margin-top: -2px;
        border-top: 4px solid #888;
        color: #888;

        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0px;
        -o-border-radius: 6px 6px 0 0;
        -ms-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
        
        .state {
          color: #a4b0b4;
        }
      }
    }
    .delete-white {
      float:left;
      width: 10%;
      height: 25px;
      line-height: 25px;
      text-align: center;
      color: #666;
    }

    .active {
      background-color: #e0e4e6;
    }
  }
  
  .add-view-btn {
    float: left;
    margin: 2px 2px 0 0;

    height: 25px;
    a {
      color: #fff;
      text-decoration: none;
      padding: 0px 6px 1px;
      background-color: #a4b0b4;
      font-size: 20px;
      font-weight: bold;
      line-height: 25px;
      cursor: pointer;

      height: 25px;
      width: 100%;
      text-align: center;

      -webkit-border-radius: 6px 6px 0 0;
      -moz-border-radius: 6px 6px 0 0px;
      -o-border-radius: 6px 6px 0 0;
      -ms-border-radius: 6px 6px 0 0;
      border-radius: 6px 6px 0 0;

      -webkit-transition: background-color 0.3s ease;
      -moz-transition: background-color 0.3s ease;
      -o-transition: backgroud-color 0.3s ease;
      -ms-transition: backgroud-color 0.3s ease;
      transition: backgroud-color 0.3s ease;

      &:hover {
        background-color: #7792a2;
      }
    }
  }
  
  .chart-container {
    background-color: #e0e4e6;
    padding: 10px 10px;
    text-align: center;
  }
  
  .chart {
    margin: 0 0 10px 0;
    min-height: 300px;
    img {
      max-width: 700px;
      margin: auto;
    }
  }
  
  // .actions-container {
  //   .error-message {
  //     float: left;
  //     line-height: 28px;
  //     color: #f55;
  //   }
  //   .actions {
  //     float: right;

  //     .action {
  //       a {
  //         color: #fff;
  //         background-color: #0f6b93;
  //         margin: 0 10px 0 0;
  //         padding: 5px 10px;
  //         cursor: pointer;
  //         text-decoration: none;
  //         -webkit-border-radius: 6px;
  //         -moz-border-radius: 6px;
  //         -o-border-radius: 6px;
  //         -ms-border-radius: 6px;
  //         border-radius: 6px;
  
  //         -moz-box-shadow:2px 2px 3px #a4b0b4;
  //         -webkit-box-shadow:2px 2px 3px #a4b0b4;
  //         -o-box-shadow:2px 2px 3px #a4b0b4;
  //         -ms-box-shadow:2px 2px 3px #a4b0b4;
  //         box-shadow:2px 2px 3px #a4b0b4;
  
  //         -webkit-transition: border-bottom 0.1s linear, background-color 0.5s ease;
  //         -moz-transition: border-bottom 0.1s linear, background-color 0.5s ease;
  //         -o-transition: border-bottom 0.1s linear, border-bottom 0.5s linear;
  //         -ms-transition: border-bottom 0.1s linear, backgroud-color 0.5s ease;
  //         transition: border-bottom 0.1s linear, background-color 0.5s ease;
        
  //         &:hover {
  //           background-color: #1794CA;
  //           border-bottom: 2px solid #0f6b93;
  //         }
  //       }
  //     }
  //   }
  // }
  // .actions {
  //   float: right;
    
  //   button {
  //     padding: 2px 6px;
  //     color: #fff;
  //     background-color: #0f6b93;
  //     border: 2px solid #04344b;
  //     a {
  //       color: #fff;
  //       text-decoration: none;
  //     }
  //   }
  // }
}



.filters-container {
  float: left;
  margin: 0;
  
  .filters {
    .filter, .timeframe {
      float: left;
    
      a {
        color: #fff;
        font-size: 16px;
        background-color: #a4b0b4;
        margin: 0 10px 0 0;
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -o-border-radius: 6px;
        -ms-border-radius: 6px;
        border-radius: 6px;

        -moz-box-shadow:2px 2px 3px #a4b0b4;
        -webkit-box-shadow:2px 2px 3px #a4b0b4;
        -o-box-shadow:2px 2px 3px #a4b0b4;
        -ms-box-shadow:2px 2px 3px #a4b0b4;
        box-shadow:2px 2px 3px #a4b0b4;

        -webkit-transition: border-bottom 0.1s linear, background-color 0.5s ease;
        -moz-transition: border-bottom 0.1s linear, background-color 0.5s ease;
        -o-transition: border-bottom 0.1s linear, border-bottom 0.5s linear;
        -ms-transition: border-bottom 0.1s linear, backgroud-color 0.5s ease;
        transition: border-bottom 0.1s linear, background-color 0.5s ease;
      
        &:hover {
          background-color: #7792a2;
          border-bottom: 2px solid #597179;
        }
      }
    }
  }
}


.actions-container {
  float: right;
  
  .error-message {
    display: none;
    float: left;
    color: #f55;
    font-size: 16px;
    margin: -5px 10px 0 0;
    background: #f6f6f6;
    padding: 4px 10px;
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
  }
  .actions {
    float: right;
    margin-right: 20px;
    
    .action {
      a {
        color: #fff;
        font-size: 16px;
        background-color: #0f6b93;
        margin: 0 10px 0 0;
        &:last-child {
          margin: 0 5px 0 0;
        }
        padding: 5px 10px;
        cursor: pointer;
        text-decoration: none;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -o-border-radius: 6px;
        -ms-border-radius: 6px;
        border-radius: 6px;

        -moz-box-shadow:2px 2px 3px #a4b0b4;
        -webkit-box-shadow:2px 2px 3px #a4b0b4;
        -o-box-shadow:2px 2px 3px #a4b0b4;
        -ms-box-shadow:2px 2px 3px #a4b0b4;
        box-shadow:2px 2px 3px #a4b0b4;

        -webkit-transition: border-bottom 0.1s linear, background-color 0.5s ease;
        -moz-transition: border-bottom 0.1s linear, background-color 0.5s ease;
        -o-transition: border-bottom 0.1s linear, border-bottom 0.5s linear;
        -ms-transition: border-bottom 0.1s linear, backgroud-color 0.5s ease;
        transition: border-bottom 0.1s linear, background-color 0.5s ease;
      
        &:hover {
          background-color: #1794CA;
          border-bottom: 2px solid #0f6b93;
        }

        &.reset {
          margin-right: 40px;
        }
      }
    }
  }
}


#create-new-view-container {
  position: absolute;
  background: #fff;
  width: -webkit-calc(100% - 20px);
  width: -o-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: -ms-calc(100% - 20px);
  width: calc(100% - 20px);
  
}

#create-view-container, #create-view-filter-container, #create-view-timescope-container {
  h2 {
    color: #fff;
    background-color: #4f6b7d;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    padding: 0 10px 2px;
  }
  
  .step {
    // border: 1px solid #4f6b7d;
    padding: 10px 0 10px 10px;
    min-width: 900px;
  }
  
  h3 {
    color: #fff;
    background-color: #7792a2;
    font-size: 14px;
    font-weight: normal;
    line-height: 23px;
    padding: 0 10px 2px;
    
    .step-num {
      font-size: 14px;
      margin: 0 3px 0 3px;
    }
  }
  
  .sub-step {
    float: left;
    border: 1px solid #7792a2;
    // margin: 2%;
    &:first-child {
      width: -webkit-calc(100% - 320px);
      width: -o-calc(100% - 320px);
      width: -moz-calc(100% - 320px);
      width: -ms-calc(100% - 320px);
      width: calc(100% - 320px);
      min-width: 600px;
      margin: 0 10px 10px 0;
    }
    width: 280px;
    min-width: 280px;
    height: 460px;
    
    .inner {
      margin: 20px 3%;
    }

    .half-inner {
      padding: 8px 13px;
      height: 300px;
      overflow-y: auto;
    }
  }
  
  .options {
    float: left;
    background-color: #9da2a4;
    width: 46%;
    height: 374px;
    padding: 10px 0;
    list-style-type: none;
    overflow-y: auto;

    -moz-box-shadow:2px 2px 8px #a4b0b4;
    -webkit-box-shadow:2px 2px 8px #a4b0b4;
    -o-box-shadow:2px 2px 8px #a4b0b4;
    -ms-box-shadow:2px 2px 8px #a4b0b4;
    box-shadow:2px 2px 8px #a4b0b4;
    
    .option {
      color: #fff;
      padding: 0 0 0 10px;

      -webkit-transition: background-color 0.3s ease;
      -moz-transition: background-color 0.3s ease;
      -o-transition: backgroud-color 0.3s ease;
      -ms-transition: backgroud-color 0.3s ease;
      transition: backgroud-color 0.3s ease; 
      
      &[data-sub]:hover {
        background-color: #169ca1;
        border-left: 5px solid #066F83;
        padding: 0 0 0 5px;
      }
      
      .sub-name {
        margin-left: 12px;
      }
    }

    .option-dimension {
      &:first-child {
        margin-top: 0px;
      }
      cursor: default;

      .cat-name {
        color: #ddd;
        font-weight: bold;
        padding-left: 10px;
        border-bottom: 1px solid;
      }
    }
  }

  // .action {
  //   margin: 0 22px 10px 21px;
  //   width: 200px;

  //   button {
  //     padding: 2px 6px;
  //     color: #fff;
  //     background-color: #0f6b93;
  //     border: 2px solid #04344b;
  //     a {
  //       color: #fff;
  //       text-decoration: none;
  //     }
  //   }
  // }

  .right-arrow {
    float: left;
    background: url(/assets/sprite.png);
    background-position: -269px 0; 
    width: 27px; 
    height: 43px;
    margin: 150px 1% 0 2%;
  }
  
  .radio-input {
    float: left;
    margin: 0 20px 0 0;
    
    input {
      float: left;
    }
    
    span {
      float: left;
      margin: 0 0 0 5px;
    }
  }
}

#chart-multiview {
  width: 100%;
  height: 425px;
}

#sortable-di-list, #sortable-di-selected {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  li {
    .delete-white {
      margin: 0 4px 0 4px;
      font-size: 16px;
      text-align: center;
      width: 18px;
      color: #DDD;
      &:hover {
        cursor: pointer;
        font-size: 24px;
        color: #fff;
      }
    }
    margin: 1px 0;
  }
  
  .ui-state-highlight {  
    border: 1px solid #ccc;  
    height: 20px;  
    width: auto;  
    background: #ccc;  
  }
}
#sortable-di-list {
  li {
    cursor: pointer;
  }
}
#sortable-di-selected.selected-options {
  li {
    border-left: 5px solid #069DB9;
    cursor: move;
    
    &.option {
      padding: 0 0 0 5px;
    }
  }
}

.i-plus-white {
  background: url(/assets/glyphicons-halflings-white.png);
  background-position: 0 -96px;
  width: 14px;
  height: 14px;
  margin: 8px 4px 8px 0;
}
.i-minus-white {
  background: url(/assets/glyphicons-halflings-white.png);
  background-position: -24px -96px;
  width: 14px;
  height: 14px;
  margin: 8px 4px 8px 0;
}
.i-plus {
  background: url(/assets/glyphicons-halflings.png);
  background-position: 0 -96px;
  width: 14px;
  height: 14px;
  margin: 8px 4px 8px 0;
}
.i-minus {
  background: url(/assets/glyphicons-halflings.png);
  background-position: -24px -96px;
  width: 14px;
  height: 14px;
  margin: 8px 4px 8px 0;
}
.i-star-solid-white {
  background: url(/assets/glyphicons-halflings-white.png);
  background-position: -120px 0;
  width: 14px;
  height: 14px;
  margin: 8px 4px 8px 0;
}
.i-star-hollow-white {
  background: url(/assets/glyphicons-halflings-white.png);
  background-position: -144px 0;
  width: 14px;
  height: 14px;
  margin: 8px 4px 8px 0;
}
.i-check {
  background: url(/assets/glyphicons-halflings.png);
  background-position: -288px 0;
  width: 14px;
  height: 14px;
  margin: 8px 4px 8px 0;
}
.i-arrow-right {
  background: url(/assets/glyphicons-halflings.png);
  background-position: -456px -72px;
  width: 14px;
  height: 14px;
  margin: 8px 4px 8px 0;
}
.i-arrow-down {
  background: url(/assets/glyphicons-halflings.png);
  background-position: -312px -120px;
  width: 14px;
  height: 14px;
  margin: 8px 4px 8px 0;
}

.inline-text-with-icon {
  margin: 6px 0px;
}
.font-bold {
  font-weight: bold;
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}