#view-detail-container {
  float: left;
  width: 200px;
  height: 400px;
  
  .detail-block {
    border: 1px solid #7792a2;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    height: 50%;
    
    .block {
      height: 80%;
      overflow: scroll;
    }
    
    .inner {
      padding: 0 0 0 14px;
    }
  }
  
  h3 {
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    background-color: #7792a2;
    padding: 3px 14px 5px;
    margin: 0 0 10px 0;
  }
  
  h4 {
    font-size: 15px;
    padding: 0 0 1px 14px;
    border-bottom: 1px solid #333;
    display: inline-block;
    margin: 0px 0 10px 0px;
  }
  
  .attributes {
    margin: 0 0 10px 0;
    
    .attribute {
      padding: 0 0 0 35px;
      
      &.selected {
        background-color: #e7e7e7;
      }
    }
  }
}

#view-container {
  float: right;
  width: 1000px;
  
  .tab {
    background-color: #a4b0b4;
    width: 19%;
    display: block;
    height: 25px;
    float: left;
    margin: 0 2px 0 0;
    a {
      float:left;      
      height: 25px;
      width: 90%;
      line-height: 25px;
      text-align: center;
    
      &.active {
        background-color: #e0e4e6;
      }
    }
    .delete-white {
      float:left;
      width: 10%;
      height: 25px;
      line-height: 25px;
      text-align: center;
      color: #666;
    }

    .active {
      background-color: #e0e4e6;
    }
  }
  
  .add-view-btn {
    float: left;
    margin: 0 2px 0 0;
    
    a {
      color: #fff;
      text-decoration: none;
      padding: 0px 6px 0px;
      background-color: #a4b0b4;
      font-size: 21px;
      font-weight: bold;
      line-height: 25px;
      cursor: pointer;
      
      &:hover {
        background-color: #7792a2;
      }
    }
  }
  
  .chart-container {
    background-color: #e0e4e6;
    padding: 10px 10px;
    text-align: center;
  }
  
  .chart {
    margin: 0 0 10px 0;
    img {
      max-width: 700px;
      margin: auto;
    }
  }
}

.filters {
  .filter, .timeframe {
    float: left;
    
    a {
      color: #fff;
      background-color: #a4b0b4;
      margin: 0 0 0 10px;
      padding: 5px 10px;
      cursor: pointer;
      text-decoration: none;
      
      &:hover {
        background-color: #7792a2;
      }
    }
  }
}

#create-new-view-container {
  position: absolute;
  background: #fff;
  width: 96%;
  
  .filters-container {
    float: left;
    margin: 0 0 0 10px;
  }
}

#create-view-container, #create-view-filter-container, #create-view-timescope-container {
  h2 {
    color: #fff;
    background-color: #4f6b7d;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    padding: 0 10px 2px;
  }
  
  .step {
    border: 1px solid #4f6b7d;
  }
  
  h3 {
    color: #000;
    background-color: #7792a2;
    font-size: 14px;
    font-weight: normal;
    line-height: 23px;
    padding: 0 10px 2px;
  }
  
  .sub-step {
    float: left;
    border: 1px solid #7792a2;
    margin: 20px;
    width: 46%;
    height: 300px;
    
    .inner {
      margin: 20px 30px;
    }

    .half-inner {
      margin: 20px 30px;
      height: 85px;
    }
  }
  
  .options {
    float: left;
    background-color: #9da2a4;
    width: 200px;
    height: 200px;
    padding: 10px 0;
    list-style-type: none;
    overflow: auto;
    
    .option {
      color: #fff;
      padding: 0 0 0 10px;
      
      &:hover {
        background-color: #169ca1;
      }
      
      .cat-name {
        color: #ddd;
        margin: 0 5px 0 0;
      }
      
      .sub-name {
      }
    }
  }

  .action {
    margin: 0 22px 10px 21px;
    width: 200px;

    button {
      padding: 2px 6px;
      color: #fff;
      background-color: #0f6b93;
      border: 2px solid #04344b;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  
  .right-arrow {
    float: left;
    background: url(/assets/sprite.png);
    background-position: -269px 0; 
    width: 27px; 
    height: 43px;
    margin: 80px 30px 0 40px;
  }
  
  .radio-input {
    float: left;
    margin: 0 20px 0 0;
    
    input {
      float: left;
    }
    
    span {
      float: left;
      margin: 0 0 0 5px;
    }
  }
}

#chart-multiview {
  width: 100%;
  height: 425px;
}

#sortable-di-list, #sortable-di-selected {
  li {
    .delete-white {
      margin: 0 4px 0 4px;
      text-align: center;
      width: 18px;
      color: #666;
      &:hover {
        cursor: pointer;
        color: #fff;
      }
    }
    &:hover {
      cursor: move;
    }
  }
  
  .ui-state-highlight {  
    border: 1px dashed #aaa;  
    height: 24px;  
    width: 198px;  
    background: #ccc;  
  }
}

.i-plus-white {
  background: url(/assets/glyphicons-halflings-white.png);
  background-position: 0 -96px;
  width: 14px;
  height: 14px;
  margin: 8px 4px 8px 0;
}
.i-minus-white {
  background: url(/assets/glyphicons-halflings-white.png);
  background-position: -24px -96px;
  width: 14px;
  height: 14px;
  margin: 8px 4px 8px 0;
}
.i-star-solid-white {
  background: url(/assets/glyphicons-halflings-white.png);
  background-position: -120px 0;
  width: 14px;
  height: 14px;
  margin: 8px 4px 8px 0;
}
.i-star-hollow-white {
  background: url(/assets/glyphicons-halflings-white.png);
  background-position: -144px 0;
  width: 14px;
  height: 14px;
  margin: 8px 4px 8px 0;
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}