#timeframe-container {
	//border: 1px solid #000;
	border-radius: 6px;
	padding: 4px 6px 6px 6px;

	input {
		height: 16px;
		// background-color: #9da2a4;
		&[type=text] {
			width: 80px;
		}
		&[type="number"]
		{
			margin-bottom: 4px;
			margin-top: 2px;
			width: 40px;
			line-height: 14px;
		}
	}

	select {
		// background-color: #9da2a4;
	}

	.inline-span {
		margin: 4px 4px 4px 0;
	}

	div[name="cycle-panel"] {
		margin: 10px 0 10px 20px;
	}
}

select.ui-datepicker-month, select.ui-datepicker-year {
	height: auto;
}

ul.none-style {
	list-style: none;
}
ul.content-indent {
	margin-bottom: 10px;
	li{
		margin-left: 20px;
		&:first-child {
			margin-left: 0px;
			font-weight: bold;
		}
	}
}

.li-datepicker {

}

.i-calendar {
background: url(/assets/glyphicons-halflings.png);
  background-position: -192px -120px;
  width: 14px;
  height: 14px;
  margin: 7px 4px 8px 2px;
}

.seperator-right {
	border-right: 1px solid;
	padding-right: 20px;
}

.seperator-left {
	border-left: 1px solid;
	padding-left: 20px;
}

.radio-pill {
	border-radius: 4px;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	line-height: 20px;
	padding: 6px 13px 6px 30px;
	position: relative;
	vertical-align: middle;
	display: block;
	zoom: 1;
}

.radio-pill-selected {
	color: #ffffff;
	background-color: #1abc9c;

	-webkit-transition: 0.14s linear;
	-moz-transition: 0.14s linear;
	-ms-transition: 0.14s linear;
	-o-transition: 0.14s linear;
	transition: 0.14s linear;
	-webkit-backface-visibility: hidden;
}